/*-- menu-categories.html */
body {
  font-family: 'Poppins', sans-serif;
}

/* Smooth transition for all images */
.category img {
  transition: transform 0.3s ease-in-out;
}

/* Scale only the image inside the hovered menu card */
.category .bg-white:hover img {
  transform: scale(1.05);
}



/* Sidebar Styles */
#cart-sidebar{
border-top-left-radius: 2rem;
border-bottom-left-radius: 2.5rem;
}
/* Footer Styles */footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align items to the top */
    padding: 20px 10%;
}

.footer-left, .footer-center, .footer-right {
    flex: 1; /* Equal space for each section */
    padding: 0 20px; /* Padding for spacing */
}

.footer-left h3, .footer-center h3, .footer-right h3 {
    margin-bottom: 10px;
}

.footer-left a, .footer-right p {
    color: #efefef;
    text-decoration: none;
    margin-bottom: 10px;
    display: block; /* Stack links vertically */
}

.footer-bottom {
    margin-top: 20px;
    font-size: 0.9em;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column; /* Stack on smaller screens */
        align-items: center;
    }
}

.social-icons{
    margin-top: 30px;
    padding-left: 10px;
}
.social-icons i{
    font-size: 22px;
    margin: 10px;
    cursor:pointer;
    
}